{% from "base.rst.j2" import page_title, preamble, epilogue, option_multiline, directive_content %}
{# Persona entity RST template #}
{{ page_title(entity.page_title) -}}
{{ preamble(entity.preamble_rst) -}}
.. define-persona:: {{ entity.slug }}
{% if entity.name and entity.name != entity.slug %}
   :name: {{ entity.name }}
{% endif %}
{{ option_multiline('goals', entity.goals) -}}
{{ option_multiline('frustrations', entity.frustrations) -}}
{{ option_multiline('jobs-to-be-done', entity.jobs_to_be_done) -}}
{{ directive_content(entity.context) }}
{{ epilogue(entity.epilogue_rst) }}
