{% from "base.rst.j2" import page_title, preamble, epilogue, option %}
{# Story entity RST template #}
{{ page_title(entity.page_title) -}}
{{ preamble(entity.preamble_rst) -}}
.. define-story:: {{ entity.slug }}
{{ option('app', entity.app_slug) -}}
{{ option('persona', entity.persona) }}

   Feature: {{ entity.feature_title }}

   As a {{ entity.persona }}
   I want to {{ entity.i_want }}
{% if entity.so_that %}
   So that {{ entity.so_that }}
{% endif %}
{% if entity.gherkin_snippet and entity.gherkin_snippet != entity.i_want %}

{{ entity.gherkin_snippet | indent(3, first=true) }}
{% endif %}
{{ epilogue(entity.epilogue_rst) }}
